aws_region          = "ap-northeast-1"
project_name        = "podcast"
domain_name         = "verlaine.lesure.net"
cloudflare_zone_id  = ""
enable_ipv6         = true
price_class         = "PriceClass_200"

# First apply:
# acm_validation_wait = false
#
# After creating the ACM DNS validation CNAME in Cloudflare:
# acm_validation_wait = true
acm_validation_wait = false
